<configuration>
  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{HH:mm:ss.SSS} [%20.20thread] %-5level [%30.-30C{0}] - %msg%n
      </pattern>
    </encoder>
    <target>System.err</target>
  </appender>
  <root level="WARN">
    <appender-ref ref="STDERR"/>
  </root>
  <logger name="org.springframework" additivity="false" level="${org.springframework.level:-WARN}">
    <appender-ref ref="STDERR"/>
  </logger>
  <logger name="org.eclipse" additivity="false" level="${org.eclipse.nihms.level:-WARN}">
    <appender-ref ref="STDERR"/>
  </logger>
  <logger name="org.eclipse.pass.client" additivity="false" level="${org.eclipse.pass.level:-ERROR}">
    <appender-ref ref="STDERR"/>
  </logger>
  <logger name="org.eclipse.pass.deposit" additivity="false"
          level="${org.eclipse.pass.deposit.level:-DEBUG}">
    <appender-ref ref="STDERR"/>
  </logger>
  <logger name="org.testcontainers" additivity="false" level="${org.testcontainers.level:-INFO}">
    <appender-ref ref="STDERR"/>
  </logger>
</configuration>
